body {
    font-family: "adelle condensed", "Adelle Condensed", sans-serif;
    font-size: 62.5%;
    font-weight: 200;
    color: rgb(1, 127, 61);
}

.site-container {
    position: relative;
    height: 100vh;
    z-index: 10;
}

    .site-container:after {
        position: fixed;
        left: 1em;
        top: 1em;
        right: 1em;
        bottom: 1em;
        display: block;
        border: 2px solid rgb(1, 127, 61);
        content: " ";
        z-index: 20;
    }

@media(min-width: 30rem) {
    .site-container {
        display: flex;
        flex-direction: row-reverse;
    }
}

.site-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    height: 90vh;
    background: rgb(2, 154, 77);
    text-align: center;
    color: white;
}

.site-header__logo {
    background-image: url("../images/thejunewedding-finally-green.svg");
    background-position: 0 4px;
    background-size: contain;
    z-index: 100;
}

@media(min-width: 30rem) {
    .site-header {
        flex: 1 1 50%;
        height: 100vh;
    }

    .site-header__logo {
        left: -4px;
        top: 0px;
    }
}

.site-nav {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: 2em;
    z-index: 100;
}

    .site-nav__list {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        margin: 0;
        padding: 0;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: white;
        list-style: none;
    }

    .site-nav__item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin: 0;
        padding: 0;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: white;
        font-size: 2em;
    }

        .site-nav__item a:link,
        .site-nav__item a:visited {
            flex: 1 1 auto;
            padding: 1em;
            text-decoration: none;
            vertical-align: center;
            color: white;
        }

.site-content {
    position: relative;
    display: table;
    flex: 1 1 auto;
    z-index: 100;
}

@media(min-width: 30rem) {
    .site-content {
        display: block;
        flex: 3 1 auto;
        overflow-y: scroll;
    }
}

.site-container__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("../images/thejunewedding-finally-corner-left.svg"), url("../images/thejunewedding-finally-corner-top-right.svg"), url("../images/thejunewedding-finally-corner-bottom-left.svg"), url("../images/thejunewedding-finally-corner-bottom-right.svg");
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 200px;
}

@media(min-width: 30rem) {
    .site-container__section {
        font-size: .9em;
        background-size: 300px;
    }
}


.rsvp {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.rsvp p {
    font-size: 2.4em;
}

.rsvp__header {
    font-size: 2em;
    font-weight: 200;
}

    .rsvp__header em {
        display: block;
        font-size: 2em;
        font-style: normal;
        font-weight: 200;
    }

    .rsvp__date {
        padding: 0 0 .25em 0;
        background-image: url("../images/date-up.svg"), url("../images/date-down.svg");
        background-position: center .1em, center 1.25em;
        background-size: .5em;
        background-repeat: no-repeat;
        font-size: 3em;
        font-weight: 200;
    }

    .rsvp__date-part {
        position: relative;
        top: -.25em;
        margin: 0 .15em;
    }

.cta-button {
    position: relative;
    display: inline-block;
    padding: .75em 1em;
    border: 1px solid rgb(2, 154, 77);
    border-radius: 4px;
    line-height: 1em;
    text-decoration: none;
    color: rgb(2, 154, 77);
}

    .cta-button:hover,
    .cta-button:active {
        background-color: rgb(2, 154, 77);
        color: white;
    }

    .cta-button--secondary {
        font-size: .75em;
    }


.venue {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.venue p {
    font-size: 2.4em;
}

.venue__header {
    font-size: 3em;
    font-style: normal;
    font-weight: 200;
}

    .venue__header em {
        font-size: 1.4em;
        font-style: normal;
    }

.venue__map {
    position: relative;
    max-height: 120px;
    border: 1px solid rgb(1, 127, 61);
    border-radius: 4px;
    overflow: hidden;
}

    .venue__map img {
        max-width: 100%;
    }

    .venue__map:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -.5em;
        margin-left: -.5em;
        width: 1em;
        height: 1em;
        border: 1px solid rgb(1, 127, 61);
        border-radius: 50% 0 50% 50%;
        transform: rotate(135deg);
        background: rgb(1, 127, 61);
        overflow: hidden;

        content: " ";
    }

.venue__address {
    font-size: 2em;
    font-style: normal;
    font-weight: 200;
}


.lodging {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.lodging p {
    font-size: 2.4em;
}


.registry {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

    .registry p {
        font-size: 2.4em;
    }

        .registry small {
            display: block;
        }

    .registry__logo {
        display: inline-block;
        margin: 2em;
        max-width: 200px;
        filter: grayscale(100%);
    }


.site-footer {
    display: none;
}