body {
    font-family: "adelle condensed", sans-serif;
    font-size: 62.5%;
    font-weight: 200;
    color: rgb(1, 127, 61);
}

.site-container {
    position: relative;
    height: 100vh;
    z-index: 10;
}

    .site-container:after {
        position: fixed;
        left: 1em;
        top: 1em;
        right: 1em;
        bottom: 1em;
        display: block;
        border: 2px solid rgb(1, 127, 61);
        content: " ";
        z-index: 20;
    }

@media(min-width: 30rem) {
    .site-container {
        display: flex;
        flex-direction: row-reverse;
    }
}

.site-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    height: 90vh;
    background: rgb(2, 154, 77);
    text-align: center;
    color: white;
}

.site-header__logo {
    position: absolute;
    left: -4px;
    top: -18px;
    z-index: 100;
}

@media(min-width: 30rem) {
    .site-header {
        flex: 1 1 25%;
        height: 100vh;
    }

    .site-header__logo {
        left: -4px;
        top: 0px;
    }
}

.site-nav {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: 2em;
    z-index: 100;
}

    .site-nav__list {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        margin: 0;
        padding: 0;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: white;
        list-style: none;
    }

    .site-nav__item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin: 0;
        padding: 0;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: white;
        font-size: 2em;
    }

        .site-nav__item a:link,
        .site-nav__item a:visited {
            flex: 1 1 auto;
            padding: 1em;
            text-decoration: none;
            vertical-align: center;
            color: white;
        }

.site-content {
    position: relative;
    display: table;
    flex: 1 1 auto;
    z-index: 100;
}

@media(min-width: 30rem) {
    .site-content {
        display: block;
        flex: 3 1 auto;
        overflow-y: scroll;
    }
}

.site-container__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("../images/thejunewedding-finally-corner-left.svg"), url("../images/thejunewedding-finally-corner-top-right.svg"), url("../images/thejunewedding-finally-corner-bottom-left.svg"), url("../images/thejunewedding-finally-corner-bottom-right.svg");
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 200px;
}

@media(min-width: 30rem) {
    .site-container__section {
        font-size: .9em;
        background-size: 300px;
    }
}


.rsvp {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.rsvp p {
    font-size: 2.4em;
}

.rsvp__header {
    font-size: 2em;
    font-weight: 200;
}

    .rsvp__header:first-line {
        font-size: 2em;
    }

    .rsvp__date {
        font-size: 3em;
        font-weight: 200;
    }

    .rsvp__date-part {
        position: relative;
        top: .25em;
        margin: 0 .15em;
    }

.cta-button {
    position: relative;
    display: inline-block;
    padding: .75em 1em;
    background: rgb(1, 41, 7);
    text-decoration: none;
    color: white;
}


.venue {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.venue p {
    font-size: 2.4em;
}

.venue__header {
    font-size: 3em;
    font-style: normal;
    font-weight: 200;
}

    .venue__header em {
        font-size: 1.4em;
        font-style: normal;
    }

.venue__address {
    font-size: 3em;
    font-style: normal;
    font-weight: 200;
}


.lodging {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.lodging p {
    font-size: 2.4em;
}


.registry {
    padding: 0 4em;
    vertical-align: middle;
    text-align: center;
}

.registry p {
    font-size: 2.4em;
}


.site-footer {
    display: none;
}